.body-container {
  padding-top: 100px;
}

.search-box {
  background-color: #f8f9fa;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* doesn't work */
.searchBtn {
  color: red !important;
  background-color: red !important;
}

.banner-ad,
.ad-below-search {
  text-align: center;
  margin: 50px 0;
}

@media (max-width: 768px) {
  .banner-ad {
    width: 100%;
    height: auto;
  }
  .ad-below-search {
    width: 100%;
    height: auto;
  }
}
